In [1]:
import numpy as np
import pandas as pd
nasa = pd.read_table(r"D:\MyDataAnalysis\MyPandas\nasa.txt")
nasa.shape

(8583, 21)

In [2]:
# nasa.head(2)

In [3]:
# nasa["年龄"].value_counts()

In [2]:
def strint(agestr):
    try:
        return int(agestr)
    except:
        return np.nan

In [3]:
nasa["年龄"] = nasa["年龄"].map(strint)

In [4]:
nasa["年龄"].isnull().sum()

30

In [5]:
nanindex = nasa[nasa["年龄"].isnull()].index

In [6]:
newnasa = nasa.drop(nanindex)
newnasa.shape

(8553, 21)

In [9]:
result = newnasa.groupby("学历")["年龄"]
# result.head()

In [12]:
def age_mean(group):  # 求学历的平均值
    if group.size < 10:  # 样本控制
        return np.nan
    else:
        return group.mean()

In [13]:
lastresult = result.apply(age_mean)
lastresult.head(10)

学历
{xueli}                    NaN
中专                   22.696361
博士                   30.535714
大&#65533;                 NaN
大专                   23.068493
本&#65533;&#65533;          NaN
本科                   23.102022
硕士                   26.372093
高中                   23.352528
Name: 年龄, dtype: float64