In [1]:
import numpy as np
import pandas as pd

In [5]:
df1 = pd.DataFrame({'name':["pig","dog","cat"],'age':["3","4","5"]})
df2 = pd.DataFrame({'name':["pig","cat","dog"],'weight':["50","40","30"]})

In [4]:
pd.merge(df1,df2)  # 一对以归并

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>age</th>
      <th>name</th>
      <th>weight</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>pig</td>
      <td>50</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>dog</td>
      <td>30</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5</td>
      <td>cat</td>
      <td>40</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
# 二对一的归并
# 一对一的归并